body {
  background-color: #005aab;
}

.topnav {
  position: fixed;
}

.topnav a {
  float: left;
  color: white;
  font-size: 72px;
  text-decoration: none;

  font-family: Coming Soon;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 98px;

  top: 12px;
}

.topnav a.home {
  position: absolute;
  width: 767px;
  height: 98px;
  left: 24px;
}

.topnav a.academics {
  position: absolute;
  width: 304px;
  height: 98px;
  left: 857px;
}

.topnav a.clubs {
  position: absolute;
  width: 155px;
  height: 98px;
  left: 1227px;
}

.topnav a.others {
  position: absolute;
  width: 199px;
  height: 98px;
  left: 1448px;
}

.topnav a.about {
  position: absolute;
  width: 172px;
  height: 98px;
  left: 1713px;
}

.topnav a:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.circles button.one {
  top: 1500px;
  position: absolute;
}
