body {
  background-color: #005aab;
}

.topnav {
  position: fixed;
  top: 0px;
  left: 0px;
}

.topnav .topnavbg {
  position: absolute;
  z-index: 99;
  background-color: #005aab;
  width: 1910px;
  height: 114px;

  border-style: solid;
  border-color: white;
}

.topnav a {
  z-index: 100;
  float: left;
  color: white;
  font-size: 72px;
  text-decoration: none;

  font-family: Coming Soon;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 98px;

  top: 12px;
}

.topnav a.home {
  position: absolute;
  width: 767px;
  height: 98px;
  left: 24px;
}

.topnav a.academics {
  position: absolute;
  width: 304px;
  height: 98px;
  left: 867px;
}

.topnav a.clubs {
  position: absolute;
  width: 155px;
  height: 98px;
  left: 1227px;
}

.topnav a.others {
  position: absolute;
  width: 199px;
  height: 98px;
  left: 1448px;
}

.topnav a.about {
  position: absolute;
  width: 172px;
  height: 98px;
  left: 1713px;
}

.topnav a:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.mid img.main {
  position: absolute;
  width: 738px;
  height: 490px;
  left: 89px;
  top: 210px;
}

.mid h1 {
  position: absolute;
  width: 687px;
  height: 98px;
  left: 900px;
  top: 180px;

  font-family: Coming Soon;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 98px;
  text-align: justify;

  color: #ffffff;
}

.mid h2 {
  position: absolute;
  width: 939px;
  height: 275px;
  left: 901px;
  top: 290px;

  font-family: Coming Soon;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 55px;
  text-align: justify;

  color: #ffffff;
}

.mid img.logoitb {
  position: absolute;
  width: 152px;
  height: 152px;
  left: 1688px;
  top: 550px;
}

.bottom .title h2 {
  position: absolute;
  width: 240px;
  height: 98px;
  left: 840px;
  top: 761px;

  font-family: Coming Soon;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 98px;

  color: #ffffff;
}

.bottom .title .lineleft {
  position: absolute;
  width: 800px;
  height: 10px;

  top: 855px;
  left: 20px;

  background-color: #ffffff;
}

.bottom .title .lineright {
  position: absolute;
  width: 800px;
  height: 10px;

  top: 855px;
  left: 1100px;
  background-color: #ffffff;
}

.bottom .circle a {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: #ffffff;

  font-family: Coming Soon;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 170px;
}

.bottom .circle a:hover {
  transform: scale(1.05);
  transition: 200ms;
}

.bottom .circle .hs {
  left: 74px;
  top: 1505px;
}

.bottom .circle a.one {
  left: 83px;
  top: 1176px;
}

.bottom .circle a.two {
  left: 283px;
  top: 930px;
}

.bottom .circle a.three {
  left: 480px;
  top: 1260px;
}

.bottom .circle a.four {
  left: 719px;
  top: 1487px;
}

.bottom .circle a.five {
  left: 873px;
  top: 1176px;
}

.bottom .circle a.six {
  left: 1187px;
  top: 1054px;
}

.bottom .circle a.seven {
  left: 1429px;
  top: 1316px;
}

.bottom .circle a.eight {
  left: 1646px;
  top: 1549px;
}

.bottom .line span {
  position: absolute;
  width: 30px;
  height: 6px;
  background: #ffffff;
}

.bottom .line span.one {
  top: 1467px;
  left: 150px;
  transform: rotate(90deg);
}

.bottom .line span.two {
  top: 1410px;
  left: 154px;
  transform: rotate(90deg);
}

.bottom .line span.three {
  top: 1155px;
  left: 200px;
  transform: rotate(-57deg);
}

.bottom .line span.four {
  top: 1105px;
  left: 240px;
  transform: rotate(-50deg);
}

.bottom .line span.five {
  top: 1125px;
  left: 434px;
  transform: rotate(63deg);
}

.bottom .line span.six {
  top: 1189px;
  left: 471px;
  transform: rotate(66deg);
}

.bottom .line span.seven {
  top: 1437px;
  left: 631px;
  transform: rotate(47deg);
}

.bottom .line span.eight {
  top: 1482px;
  left: 684px;
  transform: rotate(36deg);
}

.bottom .line span.nine {
  left: 853px;
  top: 1458.36px;
  transform: rotate(-61.48deg);
}

.bottom .line span.ten {
  left: 885px;
  top: 1396.36px;
  transform: rotate(-61.48deg);
}

.bottom .line span.eleven {
  left: 1049.2px;
  top: 1183.17px;
  transform: rotate(-28.66deg);
}

.bottom .line span.twelve {
  left: 1124px;
  top: 1154.57px;
  transform: rotate(-1.09deg);
}

.bottom .line span.thirteen {
  left: 1372.76px;
  top: 1215.01px;
  transform: rotate(50.78deg);
}

.bottom .line span.fourteen {
  left: 1421.53px;
  top: 1279.13px;
  transform: rotate(49.8deg);
}

.bottom .line span.fifteen {
  left: 1593.58px;
  top: 1474px;
  transform: rotate(49.8deg);
}

.bottom .line span.sixteen {
  left: 1631.58px;
  top: 1522px;
  transform: rotate(49.8deg);
}
